---
layout: default
lang: en
ref: index
image: true
exclude: true
---

{% include core/metabar.html %}

<article class="content">

  <header class="hero">
    <h1 class="hero-title">{{ site.description }}</h1>
    {% include core/share.html %}
    {% if page.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <section id="about" class="section">
    <h2 class="section-title">About</h2>
    <article>
      <p class="section-body">DH-WoGeM provides a mailing list for discussion of issues relevant to being a woman or gender minority in digital humanities. The group also organizes "conversations" (video chats via Zoom) around specific issues, and develops white papers and other resources for advocacy.</p>
      <p>You can <a style="color: #fa5252;" href="https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM">join the mailing list at https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM</a>.</p>
    </article>
	<article><p><strong>The DH-WoGEM conversation on physical and mental disability will be rescheduled soon!</strong> Apologies for the inconvenience! Tassie Gniady will be leading a discussion of physical and mental disability in DH. Check out the <a href="http://www.dhwogem.org/disability" style="color: #fa5252;">notes from the last conversation on the topic</a>, though every conversation is different depending on the interests and perspectives of the people who participate.</p></article>
  </section>
  
  <h2>Upcoming conversations</h2>
  <p>On January 31st, Quinn Dombrowski will be hosting the quarterly call about parenting, and becoming a parent, in DH. The call will be held from 12-1:30 Eastern (11-12:30 Central, 9-10:30 Pacific) at <a style="color: #fa5252;" href="https://stanford.zoom.us/j/268476153">https://stanford.zoom.us/j/268476153</a>.</p>
  
  <section class="section">
    <h2 class="section-title">Getting involved with DH-WoGeM</h2>
    <article>
		  <p><ul>
			  <li><a href="https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM" style="color: #fa5252;">Join the mailing list</a></li>
			  <li><a href="https://forms.gle/1WBBoyDhMWZ3rycb8" style="color: #fa5252;">Suggest a potential conversation topic using this anonymous form</a></li>
			  <li><a style="color: #fa5252;" href="https://iu.co1.qualtrics.com/jfe/form/SV_738raE3W2nXEjyJ">Anonymously share your experiences with workplace conflict</a> through our survey: https://iu.co1.qualtrics.com/jfe/form/SV_738raE3W2nXEjyJ</li>
			  <li><a style="color: #fa5252;" href="http://www.dhwogem.org/annotated-bibliography/">Write a "love letter" for a piece of DH scholarship that matters to you, for publication as part of an annotated bibliography of DH from the perspective of women and gender minorities.</li>
		  	</ul>
		  </p>
            </article>
  </section>

  <section id="posts" class="section">
    <h2 class="section-title">Posts</h2>
    <article class="section-writing">
      {% assign posts = site.posts | sort: 'order' | where:"lang", page.lang | limit: 3 %}
      {% for page in posts %}
      <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
        {% include core/date.html %}
        <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
      {% endfor %}
    </article>
  </section>

</article>
