---
layout: default
lang: en
ref: index
image: true
exclude: true
---

{% include core/metabar.html %}

<article class="content">

  <header class="hero">
    <h1 class="hero-title">{{ site.description }}</h1>
    {% include core/share.html %}
    {% if page.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <section id="about" class="section">
    <h2 class="section-title">About</h2>
    <article>
      <p class="section-body">DH-WoGeM provides a mailing list for discussion of issues relevant to being a woman or gender minority in digital humanities. The group also organizes "conversations" (video chats via Zoom) around specific issues, and develops white papers and other resources for advocacy.</p>
      <p>You can <a style="color: #fa5252;" href="https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM">join the mailing list at https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM</a>.</p>
	  <p>Our next call will be <strong>Friday, September 20, 2019 at noon Eastern, 11 AM Central, 9 AM Pacific</strong> at https://stanford.zoom.us/j/665040539. Quinn Dombrowski will lead a conversation on becoming a parent in DH. Everyone interested in sharing experiences or learning from peers' experiences are welcome, whether or not you have children.</p>
    </article>
  </section>
  
  <section class="section">
    <h2 class="section-title">Getting involved with DH-WoGeM</h2>
    <article>
		  <p><ul>
			  <li><a href="https://listserv.neu.edu/cgi-bin/wa?A0=DH-WOGEM" style="color: #fa5252;">Join the mailing list</a></li>
			  <li><a href="https://forms.gle/1WBBoyDhMWZ3rycb8" style="color: #fa5252;">Suggest a potential conversation topic using this anonymous form</a></li>
			  <li>Leave comments and feedback on <a style="color: #fa5252;" href="https://docs.google.com/document/d/1OtlsZtUe_rI2GQ-0xSCtbiyO3H12YWEG2ioQXbI0Lno/edit#">on our ADHO SIG proposal</a> (<a style="color: #fa5252;" href="http://adho.org/sigs">more about SIGs on the ADHO site</a>)</li>
			  <li><a style="color: #fa5252;" href="https://iu.co1.qualtrics.com/jfe/form/SV_738raE3W2nXEjyJ">Anonymously share your experiences with workplace conflict</a> through our survey: https://iu.co1.qualtrics.com/jfe/form/SV_738raE3W2nXEjyJ</li>
			  <li>Leave comments and feedback on <a style="color: #fa5252;" href="https://docs.google.com/document/d/1_iCt1gCHjB__tQhWkvQchOu19lBq_uVh_XLQeIN_JVQ/edit?usp=sharing">the draft of an upcoming global survey on caring in DH</a> (childcare, but also caring for elderly/ill relatives, friends, pets, etc.)</li>
			  <li><a style="color: #fa5252;" href="http://www.dhwogem.org/annotated-bibliography/">Write a "love letter" for a piece of DH scholarship that matters to you, for publication as part of an annotated bibliography of DH from the perspective of women and gender minorities.</li>
		  	</ul>
		  </p>
            </article>
  </section>

  <section id="posts" class="section">
    <h2 class="section-title">Posts</h2>
    <article class="section-writing">
      {% assign posts = site.posts | sort: 'order' | where:"lang", page.lang | limit: 3 %}
      {% for page in posts %}
      <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
        {% include core/date.html %}
        <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
      {% endfor %}
    </article>
  </section>

</article>
